*{
    margin: 0px 0px;;
    font-family: 'Roboto', sans-serif;
}
body{
    
    background:url(./AdobeStock_111615673.jpeg);
    background-size: cover;
}
#navbar{
    background: black;
    color: #ff8100;
    border-radius: 10px;
    border-left : none;
    border-right : none;
    border-top : none;
    border-bottom : 4px solid #ff8100;
    padding: 10px 10px;
    opacity: 95%;
    margin-bottom: 30px;
}

#navbar h1 {
    margin-left: 60px;
}
#containers{
    display :flex;
    margin-left : 20px;
}

form input{
    border-radius: 15px;
    padding: 4px 20px;
    outline:none;
    font-size: 16px;
    font-weight: 550;
    font-weight: bolder;
   
}
form select{
    border-radius: 15px;
    padding: 4px 20px;
}
#container1{
    border: 6px solid #ff8100;
    background: black;
    padding:18px;
    padding-left: 30px;
    border-radius: 20px;
    height: 100%;
    z-index: 2;
    width: 50%;
    color:  #ff8100;
    opacity: 95%;
}
#Dsubcontainer{
    display: flex;
    border: 6px solid #ff8100;
    background: black;
    padding:18px;
    border-radius: 15px;
    height: 200 px;
    z-index: 2;
    color:  #ff8100;
    opacity: 95%;
}
#dishimage{
    height: 80px;
    
    border-radius: 5px;
}
#Isubcontainer{
    border: 6px solid #ff8100;
    background: black;
    padding:18px;
    border-radius: 15px;
    height: 220px;
    overflow: auto;
    z-index: 2;
    color:  #ff8100;
    opacity: 95%;
    margin-top: 10px;
}
#Ssubcontainer{
  
    border: 6px solid #ff8100;
    background: black;
    padding:18px;
    border-radius: 15px;
    height: 220px;
    overflow: auto;
    z-index: 2;
    color:  #ff8100;
    opacity: 95%;
    margin-top: 10px;
    box-sizing: border-box;
}

#navbar img{
    display: inline;
    height: 40px;
    filter: invert(0.90)
}
#container2{
    text-align:  center;
    height: 85vh;
    /* border: 2px solid red; */
    margin: 20px;
    width : 40%;
    overflow: auto;
    overflow-x: auto;
} 
#dishOP{
    text-decoration: underline;
    color: #d01111;
    font-weight: 550px;

}
.mytable{
    counter-reset: rowNumber;
    width: 90%;
    border: 3px solid #ff8100;
    background: black;
    color:#ff8100 ;
    margin:  30px;
    font-size: 18px;
    text-align: center;
}
#tbody > tr{

    border-bottom: 3px solid #ff8100;
    border-top: 3px solid #ff8100;
}
#tbody > tr > td{
     border: 3px solid #ff8100;
     overflow: auto;
}
#backbtn{
    margin: 20px;
    background: black;
    color:#ff8100  ;
    border:  2px #ff8100;
    border-radius: 7px;
    padding: 10px;
    font-weight :bolder;
    font-size: 15px
}
#ingtable{
    width:100%
} 
#tbody > td{
    padding: 10px;
}